.MovieCard{
    list-style: none;
    font-size: 1rem;
    text-align: center;
    &:hover{
        opacity: .8;
        transition: all .2s linear;
    }

    .movieImage{
        border-radius: 10px;
        background-color: azure;
    }
}
@media (max-width:560px){
    .movieImage{
        width: 90%;
        height: auto;
    }
}