.searchContainer{
    display: flex;
    justify-content: center;

    .searchBox{
        position: relative;

        .searchInput{
            font-size: 1.2rem;
            height: 25px;
            border-radius: 10px;
            padding: 5px 30px 5px 10px;
            border: solid 1px white;

            &:focus{
                outline: none;
                border: 1px solid #f88ec2;
                box-shadow: 0 0 5px #ebb3d4;
            }
        }
        .searchButton{
            height: 100%;
            position: absolute;
            right: 8px;
            top: 0;

            &:focus{
                outline: none;
                border: 1px solid #f88ec2;
                box-shadow: 0 0 5px #ebb3d4;
            }
        }
    }

}